site_name: CARA's eMedication IG
site_url: https://qligier.github.io/cara-emed-ig/
repo_url: https://github.com/qligier/cara-emed-ig
site_author: Quentin Ligier
nav:
  - Home: index.md
  - Transactions:
    - transactions/index.md
    - Documents: transactions/documents.md
    - Auth: transactions/auth.md
    - Date processing: transactions/date_processing.md
    - XDS:
      - 'Publish documents (ITI-41)': transactions/iti41.md
      - 'Retrieve documents (ITI-43)': transactions/iti43.md
      - 'Search documents (ITI-18)': transactions/iti18.md
      - 'Delete documents (ITI-57)': transactions/iti57.md
      - 'Search pharmacy documents (CH:PHARM-1)': transactions/chpharm1.md
    - MHD:
      - 'Publish documents (ITI-65)': transactions/iti65.md
      - 'Retrieve documents (ITI-68)': transactions/iti68.md
      - 'Search documents (ITI-67)': transactions/iti67.md
      - 'Delete documents (CH:MHD-1)': transactions/chmhd1.md
      - 'Search pharmacy documents (CH:PHARM-5)': transactions/chpharm5.md
    - PIXm:
      - 'PIXm Patient Identity Query (ITI-83)': transactions/iti83.md
      - 'PIXm Patient Itentity Feed (ITI-104)': transactions/iti104.md
    - ATNA:
      - 'Record Audit Event (ITI-20)': transactions/iti20.md
      - 'Audit Trail Consumption (CH:ATC)': transactions/chatc.md
    - PIXv3:
      - 'Patient Identity Feed HL7 V3 (ITI-44)': transactions/iti44.md
      - 'PIXV3 Query (ITI-45)': transactions/iti45.md
  - Workflows:
    - workflows/index.md
    - 'Situational workflows': workflows/situationalworkflows.md
    - 'Aggregation': workflows/aggregation.md
  - CH EMED EPR: emed/index.md
  - PMP-APPC: appc/index.md
  - Endpoints: endpoints.md
  - OIDs: oids.md
  - Authorship & Timestamps: other/authorship_and_timestamps.md
  - Upcoming Changes: other/upcoming_changes.md
markdown_extensions:
  - smarty
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
theme:
  name: material
  custom_dir: overrides
  logo: assets/cara.svg
  icon:
    repo: fontawesome/brands/github
  font: false
  features:
    - navigation.tabs
    - navigation.indexes
    - toc.integrate
    - content.code.annotate
    - search.suggest
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
extra_css:
  - stylesheets/cara.css
plugins:
  - git-revision-date-localized:
      type: timeago
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
  - search
#  - privacy
